<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Amit Jenkins Task" parallel="tests" thread-count="5">

	<test name="Device 1">
		<classes>
			<class name="tests.Eribank" />
		</classes>
	</test>

	<test name="Device 2">
		<classes>
			<class name="tests.Eribank" />
		</classes>
	</test>

	<test name="Device 3">
		<classes>
			<class name="tests.Eribank" />
		</classes>
	</test>

	<test name="Device 4">
		<classes>
			<class name="tests.Eribank" />
		</classes>
	</test>

	<test name="Device 5">
		<classes>
			<class name="tests.Eribank" />
		</classes>
	</test>

</suite>